<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>SQL</li>
<li>R</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>NumPy</li>
<li>Keras</li>
<li>Pandas</li>
</ol>

|Data Science Tools |
|----:|
|Spark |
|Pandas|
|Jupyter Notebooks |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Objectives:
<ul>
<li>List popular languages for Data Science</li>
<li>List popular tools for Data Science</li>
<li>List common Git uses for Data Science</li>
<li>R uses and first experiences for Data Science</li>
</ul>

<h2>Author</h2>
Alex Rotar